<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumping Notes</title>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,900,900i">
    <!-- Bootstrap -->
    
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    

  </head>
  <body class="transaction">

  <!-- NAVIGATION START -->
  
<nav class=" main-nav navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   	 <a class="navbar-brand logo" href="index.html"><img src="images/j_logo.png" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav nav-right navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
      </ul>
   
    </div>
  </div>
</nav>

	<!-- NAVIGATION END  -->
	
	
		<!-- / Transaction Text  -->
	
<div class="container-fluid text-center trans-text">
  <h3>Become A Tutor</h3>
</div>



	  <div class="container">
    <div class="col-md-12">
    <div id="logbox" class="signup fullwidth">
      <form id="tutor" method="post" action="" class="form-horizontal">
        <h1>Tutor Registration</h1>
       
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Tutor Unique Identity</label>
        	<div class="col-lg-8">
        	 <input type="text" class="form-control" id="tutorid" placeholder="Tutor Unique Name">
         	</div>
        </div>
        <div class="form-group sel-box country col-md-12">
        	<label class="control-label col-lg-4">Country</label>
            <div class="col-lg-8">
                <select class="form-control">
                    <option>Afghanistan</option>
					<option>Pakistan</option>
					<option>USA</option>
                </select>
            </div>
        </div>
        <div class="form-group sel-box country col-md-12">
        	<label class="control-label col-lg-4">State</label>
            <div class="col-lg-8">
                <select class="form-control">
                    <option>ANDAMAN AND NICOBAR ISLANDS</option>
					<option>ANDAMAN AND NICOBAR ISLANDS 2</option>
					<option>ANDAMAN AND NICOBAR ISLANDS 3</option>
                </select>
            </div>
        </div>
        <div class="form-group sel-box country col-md-12">
        	<label class="control-label col-lg-4">City</label>
            <div class="col-lg-8">
                <select class="form-control">
                    <option>BOMBUFLAT</option>
					<option>BOMBUFLAT 2</option>
					<option>BOMBUFLAT 3</option>
                </select>
            </div>
        </div>
        <div class="form-group sel-box country col-md-12">
        	<label class="control-label col-lg-4">Native Language</label>
            <div class="col-lg-8">
                <select class="form-control">
                    <option>English</option>
					<option>Spanish</option>
					<option>Hindi</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Tutor Qualification</label>
        	<div class="col-lg-8">
         		<input type="text" class="form-control" id="qualification" placeholder="example : bscs">
        	</div>
        </div>
        <div class="form-group sel-box country col-md-12">
        	<label class="control-label col-lg-4">Gender</label>
            <div class="col-lg-8">
                <select class="form-control">
                    <option>Male</option>
					<option>Female</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Majors</label>
        	<div class="col-lg-8">
         		<input type="text" class="form-control" id="majors" placeholder="Tutor Majors">
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Skills</label>
        	<div class="col-lg-8">
         		<input type="text" class="form-control" id="skills" placeholder="Tutor Skills">
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Charges Per Hour</label>
        	<div class="col-lg-8">
         		<input type="text" class="form-control" id="charges" placeholder="Charges Per Hour">
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Profile Pic</label>
        	<div class="col-lg-8">
         		<input type="file"  >
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Short Description about you as tutor</label>
        	<div class="col-lg-8">
         		<textarea class="form-control" id="description"></textarea>
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Introductory Video Link (If Any)</label>
        	<div class="col-lg-8">
         		<input type="text" class="form-control" id="videolink" placeholder="only youtube link">
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<label class="control-label col-lg-4">Lesson Details</label>
        	<div class="col-lg-8">
         		<input type="text" class="form-control" id="lesson" placeholder="Lesson Detail">
        	</div>
        </div>
        <div class="form-group col-md-12">
        	<div class="col-md-4">&nbsp;</div>
        	<div class="col-md-8">
            	<a href="#" class="btn btn-primary sends">Signup </span></a>
        	</div>
        </div>
         
        
      </form>
    </div>
   </div>
    <!--col-md-6-->
    
    
    
  
  </div>


   
<!-- FOOTER BLOCK -->

<footer>
<div class="footer-nav">
<div class="container">
<nav class="navbar footer-navi navbar-left">
    <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
    </ul>
</nav>


<div class="social-icons pull-right">
     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	 <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	 <a href="#"><i class="fa fa-instagram fa-3x social"></i></a> 
	 <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
     <a href="#"><i class="fa fa-rss-square fa-3x social"></i></a>	 
	 <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	 

</div>
</div>
</div>


<div class="copyright">
<div class="container">

<div class="pull-left right-rev">
<p>All rights Reserved © 2017 Learning</p>
</div>
<div class="pull-right design-deve">
<p>Designed & Developed by <a href="startupbug.net">Startupbug.net</a></p>
</div>
</div>

</div>

</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>