<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumping Notes</title>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,900,900i">
    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body class="transaction">

  <!-- NAVIGATION START -->
  
<nav class=" main-nav navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   	 <a class="navbar-brand logo" href="index.html"><img src="images/j_logo.png" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav nav-right navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
      </ul>
   
    </div>
  </div>
</nav>

	<!-- NAVIGATION END  -->
	
	
		<!-- / Transaction Text  -->
	
<div class="container-fluid text-center trans-text">
  <h3>WELCOME TO YOUR PROFILE</h3>
</div>



	<!-- / PAYMENT FORM BLOCK -->

<div class="courses-page">
<div class="container">

<div class="courses-text">


 
		
		
		
		
<div class="row mg-bt">
	<div class="col-lg-12 col-md-12">
		<div class="row courses">
        	<div class="col-lg-12 col-sm-12 col-md-12 detail">
            	<h3 class="title">Maria Joseph</h3>
            </div>
        	<div class="col-lg-2 col-md-12 text-center">
            <img src="images/jason-bontan.png">
            </div>
            <div class="col-lg-10 col-md-12 detail">
            	<h4 class="twitter">@jason123</h4>
                <ul class="pro-detail">
                	<li class="gender">Gender : <span>Female</span></li>
                    <li class="location">Location : Country.State</li>
                    <li class="school">School/College : <span>Neque Porro quisquam est qui dolorem</span></li>
                    <li class="charges">Per Hrs.Charges : <span>$50</span></li>
                    <li class="expertise">Major : <span>Effective Oral and written Communication</span></li>
                 </ul>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-12 col-sm-12 col-md-12 profile-menu">
            	<ul>
                	<li><a href="#">Activity</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Notifications <span>0</span></a></li>
                    <li><a href="#" class="active">Messages <span>0</span></a></li>
                    <li><a href="#">Followers <span>0</span></a></li>
                    <li><a href="#">Groups <span>3</span></a></li>
                    <li><a href="#">Notes <span>2</span></a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 profile-menu">
            	<ul>
                	<li><a href="#"  class="active">Inbox</a></li>
                    <li><a href="#">Starred</a></li>
                    <li><a href="#">Sent</a></li>
                    <li><a href="#">Compose</a></li>
                    
                </ul>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-lg-4 col-md-4 inbox-items">
            	<div class="row bd">
                	<div class="col-lg-3 col-md-3 inbox-item-single">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-9 col-md-9 inbox-item-single">
                    	<h3>Jason Bontan</h3>
                        <p>dolorem ipsum quia dolor ...</p>
                    </div>
            	</div>
                <div class="row bd">
                	<div class="col-lg-3 col-md-3 inbox-item-single">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-9 col-md-9 inbox-item-single">
                    	<h3>Jason Bontan</h3>
                        <p>dolorem ipsum quia dolor ...</p>
                    </div>
            	</div>
                <div class="row bd">
                	<div class="col-lg-3 col-md-3 inbox-item-single">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-9 col-md-9 inbox-item-single">
                    	<h3>Jason Bontan</h3>
                        <p>dolorem ipsum quia dolor ...</p>
                    </div>
            	</div>
                <div class="row bd">
                	<div class="col-lg-3 col-md-3 inbox-item-single">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-9 col-md-9 inbox-item-single">
                    	<h3>Jason Bontan</h3>
                        <p>dolorem ipsum quia dolor ...</p>
                    </div>
            	</div>
                <div class="row bd">
                	<div class="col-lg-3 col-md-3 inbox-item-single">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-9 col-md-9 inbox-item-single">
                    	<h3>Jason Bontan</h3>
                        <p>dolorem ipsum quia dolor ...</p>
                    </div>
            	</div>
                <div class="row">
                	<div class="col-lg-3 col-md-3 inbox-item-single">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-9 col-md-9 inbox-item-single">
                    	<h3>Jason Bontan</h3>
                        <p>dolorem ipsum quia dolor ...</p>
                    </div>
            	</div>
             </div>   
            <div class="col-lg-7 col-md-7 inbox-items mg-lt mg-bt">
            	<div class="row pd">
                	<div class="col-lg-2 col-md-2 fleft">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-10 col-md-10 fleft mg-em">
                    	<div class="inbox-details">
                        	dolorem ipsum quia dolor dolorem ipsum quia dolor dolorem 
                        </div>
                    </div>
                </div>
                <div class="row pd">
                	<div class="col-lg-2 col-md-2 fright">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-10 col-md-10 fright mg-rt">
                    	<div class="inbox-details">
                        	dolorem ipsum quia dolor dolorem ipsum quia dolor dolorem 
                        </div>
                    </div>
                </div>
                <div class="row pd">
                	<div class="col-lg-2 col-md-2 fleft">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-10 col-md-10 fleft mg-em">
                    	<div class="inbox-details">
                        	dolorem ipsum quia dolor dolorem ipsum quia dolor dolorem 
                        </div>
                    </div>
                </div>
                <div class="row pd">
                	<div class="col-lg-2 col-md-2 fright">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-10 col-md-10 fright mg-rt">
                    	<div class="inbox-details">
                        	dolorem ipsum quia dolor dolorem ipsum quia dolor dolorem 
                        </div>
                    </div>
                </div>
                <div class="row pd">
                	<div class="col-lg-2 col-md-2 fleft">
                    	<img src="images/inbox-pic.png">
                    </div>
                    <div class="col-lg-10 col-md-10 fleft mg-em">
                    	<div class="inbox-details">
                        	dolorem ipsum quia dolor. dolorem ipsum quia dolor dolorem ipsum quia dolor. dolorem ipsum quia dolor dolorem ipsum quia dolor. dolorem ipsum quia dolor dolorem ipsum quia dolor. dolorem ipsum quia dolor
                        </div>
                    </div>
                </div>
                <div class="row pd">
                	
                    <div class="col-lg-10 col-md-10 fleft mg-rt">
                    <div class="form-group card-nos col-md-6">
         <input type="text" class="form-control fleft-input" id="card-no" placeholder="CARD NUMBER">
       
                    	
                        <a href="#"><img src="images/attachment.png"></a>
                         </div>
                     </div>
                    <div class="col-lg-2 col-md-2 fleft">
                    	<a href="#" class="btn btn-primary edits unfollow">SEND</span></a>
                    </div>
                </div>
                
                
            </div>
            
            
            
        </div>
	</div>
</div>
		  

	 
	
	

</div>	
<!-- TUTOR INFO -->
</div>




	

</div>



</div>
</div>

   <!-- Payment Form BLOCK  END-->


   
<!-- FOOTER BLOCK -->

<footer>
<div class="footer-nav">
<div class="container">
<nav class="navbar footer-navi navbar-left">
    <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
    </ul>
</nav>


<div class="social-icons pull-right">
     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	 <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	 <a href="#"><i class="fa fa-instagram fa-3x social"></i></a> 
	 <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
     <a href="#"><i class="fa fa-rss-square fa-3x social"></i></a>	 
	 <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	 

</div>
</div>
</div>


<div class="copyright">
<div class="container">

<div class="pull-left right-rev">
<p>All rights Reserved © 2017 Learning</p>
</div>
<div class="pull-right design-deve">
<p>Designed & Developed by <a href="startupbug.net">Startupbug.net</a></p>
</div>
</div>

</div>

</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$( 'button' ).click( function() {
    $( 'input' ).trigger( 'click' );
} );
</script>
  </body>
</html>