<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumping Notes</title>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,900,900i">
    <!-- Bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body class="home">

 <nav class="main-nav navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   	 <a class="navbar-brand logo" href="index.html"><img src="images/j_logo.png" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav nav-right navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
      </ul>
   
    </div>
  </div>
</nav>
<!-- <nav class="main-nav navbar navbar-default">
  <div class="container">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="images/j_logo.png" alt=""</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-right navbar-right">
       <!--  <li class="active"><a href="#">Link <span class="sr-only">Home</span></a></li> 
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
   
      </ul>
     
    </div>
  </div>
</nav> -->


   <!-- Carousel
    ================================================== -->
    <div class='slider'>
  <div class='slide1'>
  	<img src="images/sllider-bg-1.jpg" />
    <div class="carousel-caption slide-text">
              <h1>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</h1>
			 <div class="slider-btns">
			 <a href="#" class="btn btn-default btn-lg free-trial">FREE TRIAL 1</a>
			 <a href="#" class="btn btn-default btn-lg subscribes">SUBSCRIBE</a>		 
			 </div>

            </div>
    </div>
  <div class='slide2'>
  <img src="images/sllider-bg-2.jpg" />
  <div class="carousel-caption slide-text">
                 <h1>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</h1>
			 <div class="slider-btns">
			 <a href="#" class="btn btn-default btn-lg free-trial">FREE TRIAL 2</a>
			 <a href="#" class="btn btn-default btn-lg subscribes">SUBSCRIBE</a>		 
			 </div>
			 
            </div>
  </div>
  <div class='slide3'>
  <img src="images/sllider-bg-3.jpg" />
  <div class="carousel-caption slide-text">
                 <h1>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</h1>
			 <div class="slider-btns">
			 <a href="#" class="btn btn-default btn-lg free-trial">FREE TRIAL 3</a>
			 <a href="#" class="btn btn-default btn-lg subscribes">SUBSCRIBE</a>		 
			 </div>
			 
            </div>
  </div>
</div>

    
  
  <div class="small-banner">
  <div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-0 col-xs-12 slide-back">
            <div class="carousel-inner small-carousel">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>Free For Students</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>tutors needs<br/> to pay $3.99/month</p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- Controls --> 

</div>
  <img src="images/learningPlatform.png" alt="banner" style="display:none;"/>
  </div>
  
  
  
 <!-- / WELCOME TEXT BLOCK -->
	<div class="container-fluid text-center text-sect">
  <h3>WELCOME TO JUMPNOTES</h3>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
  laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut 
  odit aut fugit, sed quia 
  consequuntur magni dolores eos qui ratione voluptatem.</p>
</div>


<div class="mid-section">
<div class="container-fluid">

<div class="mid-top">

<div class="row">
<div class="top-ranking col-md-6 col-sm-6 col-xs-12">
<div class="tutors">
<h1>TOP <br>RANKING  TUTORS</h1>
<a href="#">Join Us</a>
</div>

</div>

<div class="find-notes col-md-6 col-sm-6 col-xs-12">
<h2>FIND TOP NOTES</h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<a href="#" class="hoverable-dv">CHECK IT OUT</a>
</div>

</div>

<div class="row">
<div class="empower col-md-6 col-sm-6 col-xs-12">
<h2>EMPOWERING OTHERS</h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<a href="#" class="hoverable-dv">INVITE FRIENDS</a>
</div>


<div class="recommend col-md-6 col-sm-6 col-xs-12">
<div class="tutors">
<h1>RECOMMENDED NOTES</h1>
<a href="#">Join Us</a>
</div>
</div>

</div>


</div>
</div>





<div class="">
<div class="container-fluid">

<div class="text-center">
<h2>MEET WITH TUTOR</h2>
</div>

<div class="first-row">

<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 main-text col-md-offset-0">
<div class="pos-left details detail-home">
<div class="desc-dv title views-no col-md-12">
    <h2><a href="#">Note 1</a></h2>
</div>
<div class="pull-left col-md-12 file-ico">
    <img src="images/notes1.jpg">
</div>

<div class="desc-dv title-desc col-md-12">
	<h4>Auhor : Dr Adel</h4>
    <p>Subject : English</p>
	 </div>
     <div class="desc-dv views-no col-md-12 col-sm-12 col-xs-12">
	No of View: 10
    <div class="rating pull-right">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
    </div>
    
</div>

</div>





<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 main-text col-md-offset-0">
<div class="pos-left details detail-home">
<div class="desc-dv title views-no col-md-12">
    <h2><a href="#">Note 2</a></h2>
</div>
<div class="pull-left col-md-12 file-ico">
    <img src="images/notes1.jpg">
</div>

<div class="desc-dv title-desc col-md-12">
	<h4>Auhor : Dr Adel</h4>
    <p>Subject : English</p>
	 </div>
     <div class="desc-dv views-no col-md-12 col-sm-12 col-xs-12">
	No of View: 10
    <div class="rating pull-right">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
    </div>
    
</div>

</div>


<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 main-text col-md-offset-0">
<div class="pos-left details detail-home">
<div class="desc-dv title views-no col-md-12">
    <h2><a href="#">Note 3</a></h2>
</div>
<div class="pull-left col-md-12 file-ico">
    <img src="images/notes1.jpg">
</div>

<div class="desc-dv title-desc col-md-12">
	<h4>Auhor : Dr Adel</h4>
    <p>Subject : English</p>
	 </div>
     <div class="desc-dv views-no col-md-12 col-sm-12 col-xs-12">
	No of View: 10
    <div class="rating pull-right">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
    </div>
    
</div>

</div>


<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 main-text col-md-offset-0">
<div class="pos-left details detail-home">
<div class="desc-dv title views-no col-md-12">
    <h2><a href="#">Note 4</a></h2>
</div>
<div class="pull-left col-md-12 file-ico">
    <img src="images/notes1.jpg">
</div>

<div class="desc-dv title-desc col-md-12">
	<h4>Auhor : Dr Adel</h4>
    <p>Subject : English</p>
	 </div>
     <div class="desc-dv views-no col-md-12 col-sm-12 col-xs-12">
	No of View: 10
    <div class="rating pull-right">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
    </div>
    
</div>

</div>


<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 main-text col-md-offset-0">
<div class="pos-left details detail-home">

<div class="desc-dv title views-no col-md-12">
    <h2><a href="#">Note 5</a></h2>
</div>
<div class="pull-left col-md-12 file-ico">
    <img src="images/notes1.jpg">
</div>

<div class="desc-dv title-desc col-md-12">
	<h4>Auhor : Dr Adel</h4>
    <p>Subject : English</p>
	 </div>
     <div class="desc-dv views-no col-md-12 col-sm-12 col-xs-12">
	No of View: 10
    <div class="rating pull-right">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
    </div>
    
</div>

</div>


<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 main-text col-md-offset-0">
<div class="pos-left details detail-home">

<div class="desc-dv title views-no col-md-12">
    <h2><a href="#">Note 6</a></h2>
</div>
<div class="pull-left col-md-12 file-ico">
    <img src="images/notes1.jpg">
</div>

<div class="desc-dv title-desc col-md-12">
	<h4>Auhor : Dr Adel</h4>
    <p>Subject : English</p>
	 </div>
     <div class="desc-dv views-no col-md-12 col-sm-12 col-xs-12">
	No of View: 10
    <div class="rating pull-right">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
    </div>
    
</div>

</div>





</div>




</div>


</div>	
</div>


<footer>
<div class="footer-nav">
<div class="container">
<nav class="navbar footer-navi navbar-left">
    <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
    </ul>
</nav>


<div class="social-icons pull-right">
     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	 <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	 <a href="#"><i class="fa fa-instagram fa-3x social"></i></a> 
	 <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
     <a href="#"><i class="fa fa-rss-square fa-3x social"></i></a>	 
	 <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	 

</div>


</div>

</div>


<div class="copyright">
<div class="container">

<div class="pull-left right-rev">
<p>All rights Reserved © 2017 Learning</p>
</div>
<div class="pull-right design-deve">
<p>Designed & Developed by <a href="startupbug.net">Startupbug.net</a></p>
</div>
</div>


</div>
</footer>
		
<!-- <script>

// Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;

(function($, window) {
  var Starrr;

  Starrr = (function() {
    Starrr.prototype.defaults = {
      rating: void 0,
      numStars: 5,
      change: function(e, value) {}
    };

    function Starrr($el, options) {
      var i, _, _ref,
        _this = this;

      this.options = $.extend({}, this.defaults, options);
      this.$el = $el;
      _ref = this.defaults;
      for (i in _ref) {
        _ = _ref[i];
        if (this.$el.data(i) != null) {
          this.options[i] = this.$el.data(i);
        }
      }
      this.createStars();
      this.syncRating();
      this.$el.on('mouseover.starrr', 'span', function(e) {
        return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('mouseout.starrr', function() {
        return _this.syncRating();
      });
      this.$el.on('click.starrr', 'span', function(e) {
        return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('starrr:change', this.options.change);
    }

    Starrr.prototype.createStars = function() {
      var _i, _ref, _results;

      _results = [];
      for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
        _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
      }
      return _results;
    };

    Starrr.prototype.setRating = function(rating) {
      if (this.options.rating === rating) {
        rating = void 0;
      }
      this.options.rating = rating;
      this.syncRating();
      return this.$el.trigger('starrr:change', rating);
    };

    Starrr.prototype.syncRating = function(rating) {
      var i, _i, _j, _ref;

      rating || (rating = this.options.rating);
      if (rating) {
        for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
        }
      }
      if (rating && rating < 5) {
        for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      }
      if (!rating) {
        return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
      }
    };

    return Starrr;

  })();
  return $.fn.extend({
    starrr: function() {
      var args, option;

      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
      return this.each(function() {
        var data;

        data = $(this).data('star-rating');
        if (!data) {
          $(this).data('star-rating', (data = new Starrr($(this), option)));
        }
        if (typeof option === 'string') {
          return data[option].apply(data, args);
        }
      });
    }
  });
})(window.jQuery, window);

$(function() {
  return $(".starrr").starrr();
});

$( document ).ready(function() {
      
  $('#stars').on('starrr:change', function(e, value){
    $('#count').html(value);
  });
  
  $('#stars-existing').on('starrr:change', function(e, value){
    $('#count-existing').html(value);
  });
});

</script> -->	
	
	
	
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
  </body>
</html>