<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumping Notes</title>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,900,900i">
    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    

  </head>
  <body class="notes_detail">

  <!-- NAVIGATION START -->
  
<nav class=" main-nav navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   	 <a class="navbar-brand logo" href="index.html"><img src="images/j_logo.png" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav nav-right navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
      </ul>
   
    </div>
  </div>
</nav>

	<!-- NAVIGATION END  -->
	
	
		<!-- / NOTES BANNER  -->
	
<div class="container-fluid text-center banner-text">
  <h3>NOTE DETAIL</h3>
</div>


	<!-- / SEARCH NOTES BLOCK -->

<div class="notes-search">
<div class="container">

<div class="text-center">
<h2>SEARCH NOTES HERE</h2>
</div>

<div class="main-search">
   <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="button">
                                        <span>SEARCH</span>
                                    </button>
                                </span>
                            </div>

<div class="main-form">
<div class="container-fluid">
 <form>
        <div class="row">
		
            <div class="col-md-3 sel-box">
                <select class="form-control">
                    <option>SCHOOL</option>
					<option>SCHOOL</option
					><option>SCHOOL</option>
                </select>
            </div>
           <div class="col-md-3 sel-box">
                <select class="form-control">
                    <option>CLASS</option>
					<option>CLASS</option>
					<option>CLASS</option>
                </select>
            </div>
           <div class="col-md-3 sel-box">
                <select class="form-control">
                    <option>PROFESSOR</option>
					<option>PROFESSOR</option>
					<option>PROFESSOR</option>
                </select>
            </div>
			
			<div class="col-md-3 sel-box">
                <select class="form-control">
                    <option>SUBJECT</option>
					<option>SUBJECT</option>
					
                </select>
            </div>
			
        </div>
    </form>
</div>
</div>

</div>
</div>



 <!-- Page blog Content -->
 <div class="notes-blog">
    <div class="container">
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8 blog-main">

                <!-- Blog Post -->
			<div class="row">
            	<div class="col-lg-2">
                <div class="notes-date"><p class="day">17</p><p class="date">April, 2016</div>
                </div>
                <div class="col-lg-10">
                	<div class="row">
                    <div class="col-lg-12 notes-title">
                <!-- Title -->
                <h1>Neque porro quisquam pro estqui dolorem</h1>
                <p class="p-author">Posted by <a href="#">Admin</a></p>
</div>

<div class="col-lg-12">
<div class="row">
				<div class="col-lg-4 downloads">Downloads <img src="images/downloads.png"> <span>132</span></div>
                <div class="col-lg-8 downloads">
	<p>Write Your Review
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        
		23 Reviews</p>	
		
    </div>
				</div>
                </div>
                </div>
                <hr>
                </div>
</div>
                <!-- Date/Time -->
                

      

                <!-- Post Content -->
              
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem colector accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit amoter aspernatur aut odit aut fugit.</p>
                
                <div class="row slides">
                	<div class="col-lg-12">
                    	

  
    
    <div id="jssor_1"  class="jssor_slider">
        <!-- Loading Screen -->
        <div data-u="loading" class="loading_jssor"></div>
        <div data-u="slides"  class="jssor-slides">
            <div>
                <img data-u="image" src="images/002.jpg" />
                <img data-u="thumb" src="images/thumb-002.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/003.jpg" />
                <img data-u="thumb" src="images/thumb-003.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/004.jpg" />
                <img data-u="thumb" src="images/thumb-004.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/005.jpg" />
                <img data-u="thumb" src="images/thumb-005.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/006.jpg" />
                <img data-u="thumb" src="images/thumb-006.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/007.jpg" />
                <img data-u="thumb" src="images/thumb-007.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/008.jpg" />
                <img data-u="thumb" src="images/008.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/009.jpg" />
                <img data-u="thumb" src="images/009.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/010.jpg" />
                <img data-u="thumb" src="images/010.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/011.jpg" />
                <img data-u="thumb" src="images/thumb-011.jpg" />
            </div>
            
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort03" style="position:absolute;left:0px;bottom:0px;width:600px;height:60px;" data-autocenter="1">
            <div style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30.0);opacity:0.3;"></div>
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
    </div>
    


<div id="pdf-view">
<h2 align="center"><a href="pdf/pdfurl-guide.pdf" target="_blank">View PDF in New Tab</a></h2>
<div id="DIVinPage"></div>
</div>


                    </div>
                </div>


                <hr>
				
                <div class="row about-author">
                	<div class="col-lg-12">
                    	<h2><span>About</span> the Author</h2>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-lg-2">
                    	<img src="images/profile-icon.png">
                    </div>
                    <div class="col-lg-10">
                    	<h3>William Happer</h3>
                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                    </div>
                </div>
                
                <div class="row download-note about-author ">
                	<div class="col-lg-12">
                    	<h2><span>Download</span> this Note</h2>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-lg-2">
                    	<img src="images/profile-icon.png">
                    </div>
                    <div class="col-lg-10">
                    	<h3>William Happer</h3>
                    	<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.<br/><a href="#">CLICK HERE ></a></p>
                    </div>
                </div>
                
                <hr>
                
                <div class="row contact-author about-author ">
                	<div class="col-lg-12">
                    	<h2><span>Contact</span> with Tutor</h2>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-lg-5">
                    	<div class="form-group col-md-12">
         					<input type="text" class="form-control" id="name" placeholder="Name">
        				</div>
        				<div class="form-group col-md-12">
         					<input type="email" class="form-control" id="email" placeholder="Email">
        				</div>
        				<div class="form-group col-md-12">
         					<input type="text" class="form-control" id="website" placeholder="Website">
        				</div>
                        <div class="form-group">
            				<div class="col-xs-offset-0 col-xs-12">
								<a href="#" class="btn btn-primary sends">SEND <span class="glyphicon glyphicon-send"></span></a>
							</div>
        				</div>
                    </div>
                    <div class="col-lg-7">
                    	<div class="form-group user-name col-md-12">
         <textarea class="form-control" placeholder="Your Comment"></textarea>
        				</div>
                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="col-lg-12">
                    
</div>
                </div>
                <!-- Blog Comments -->


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 rec-posts">

				<h4>Recent Notes</h4>
		 		<div class="hline"></div>
					<ul class="popular-posts list-unstyled">
		                <li class="row">
                            <div class="col-md-3">
		                    <a class="thumbnail" href="#"><img src="images/note-imgs.png" alt="Popular Post"></a>
                            </div>
                            <div class="col-md-9 r-text"> 
		                    <p class="pull-right "><a href="#">Ut wisi enim ad minim,nostrud exercitation</a>
                            </p>
                            <em class="small">Posted <span>November 25</span></em>
                            </div>
		                </li>
		                <li class="row">
                            <div class="col-md-3">
		                    <a class="thumbnail" href="#"><img src="images/note-imgs.png" alt="Popular Post"></a>
                            </div>
                            <div class="col-md-9 r-text"> 
		                    <p class="pull-right "><a href="#">Ut wisi enim ad minim,nostrud exercitation</a>
                            </p>
                            <em class="small">Posted <span>November 25</span></em>
                            </div>
		                </li>
                      <li class="row">
                            <div class="col-md-3">
		                    <a class="thumbnail" href="#"><img src="images/note-imgs.png" alt="Popular Post"></a>
                            </div>
                            <div class="col-md-9 r-text"> 
		                    <p class="pull-right "><a href="#">Ut wisi enim ad minim,nostrud exercitation</a>
                            </p>
                            <em class="small">Posted <span>November 25</span></em>
                            </div>
		                </li>
                      <li class="row">
                            <div class="col-md-3">
		                    <a class="thumbnail" href="#"><img src="images/note-imgs.png" alt="Popular Post"></a>
                            </div>
                            <div class="col-md-9 r-text"> 
		                    <p class="pull-right "><a href="#">Ut wisi enim ad minim,nostrud exercitation</a>
                            </p>
                            <em class="small">Posted <span>November 25</span></em>
                            </div>
		                </li>

		            </ul>
				
		 		<hr>
			<div class="trials-btn text-center">
				
			<a href="#" class="btn btn-danger btn-lg trails text-center">BOOK NOW</a>

		  </div>       

            </div>

        </div>
        <!-- /.row -->

        


</div>





   <!-- SEARCH NOTES BLOCK  END-->


<!-- FOOTER BLOCK -->

<footer>
<div class="footer-nav">
<div class="container">
<nav class="navbar footer-navi navbar-left">
    <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
    </ul>
</nav>


<div class="social-icons pull-right">
     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	 <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	 <a href="#"><i class="fa fa-instagram fa-3x social"></i></a> 
	 <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
     <a href="#"><i class="fa fa-rss-square fa-3x social"></i></a>	 
	 <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	 

</div>
</div>
</div>


<div class="copyright">
<div class="container">

<div class="pull-left right-rev">
<p>All rights Reserved © 2017 Learning</p>
</div>
<div class="pull-right design-deve">
<p>Designed & Developed by <a href="startupbug.net">Startupbug.net</a></p>
</div>
</div>

</div>
</footer>
		
	
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">jssor_1_slider_init();</script>
	<script type="text/x-javascript">
    
    $(function() {
    $('#DIVinPage').html('<iframe id="MyIFRAME" src="pdf/pdfurl-guide.pdf" width="100%"  height="600" frameborder="0" scrolling="no" style="overflow-x: hidden"></iframe>');
    $('#MyIFRAME').unbind('load');
    $('#MyIFRAME').load(function() {
        alert('will alert when all elements in the frame are done');
    });
});
    </script>
    <script src="js/jssor.slider-23.1.6.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: 0,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 9,
                $SpacingX: 3,
                $SpacingY: 3,
                $Align: 260
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 750);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <script type="text/javascript">jssor_1_slider_init();</script>
 
    
  </body>
</html>