<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumping Notes</title>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,900,900i">
    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body class="transaction">

  <!-- NAVIGATION START -->
  
<nav class=" main-nav navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   	 <a class="navbar-brand logo" href="index.html"><img src="images/j_logo.png" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav nav-right navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
      </ul>
   
    </div>
  </div>
</nav>

	<!-- NAVIGATION END  -->
	
	
		<!-- / Transaction Text  -->
	
<div class="container-fluid text-center trans-text">
  <h3>YOU ARE LOGGED IN</h3>
</div>



	<!-- / PAYMENT FORM BLOCK -->

<div class="profile-page">
<div class="container">

<div class="profile-text">


 
		
		
		
		
<div class="row">
	<div class="col-lg-12 col-md-12 profile">
		<div class="row">
        	<div class="col-lg-3 col-md-12 text-center">
            <img src="images/jason-bontan.png">
            </div>
            <div class="col-lg-9 col-md-12 detail">
            	<div class="row">
            		<div class="col-lg-3">
            			<h3 class="title">Jason Bontan</h3>
                		<h4 class="twitter">@jason123</h4>
                	</div>
                    <div class="col-lg-9 text-right links">
                    <a href="#" class="btn btn-primary edits">FOLLOW</span></a>
                    <a href="#" class="btn btn-primary edits unfollow">UNFOLLOW</span></a>
                    <a href="#" class="btn btn-primary edits">SEND MESSAGE</span></a>
                    </div>
                </div>
            
            	
                <ul class="pro-detail">
                	<li class="gender">Gender : <span>Female</span></li>
                    <li class="location">Location : Country.State</li>
                    <li class="school">School/College : <span>Neque Porro quisquam est qui dolorem</span></li>
                    <li class="charges">Per Hrs.Charges : <span>$50</span></li>
                    <li class="expertise">Major : <span>Effective Oral and written Communication</span></li>
                    <li class="ratings">Ratings : <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></li>
                    <li class="aboutme">About Me :<br/>
                    	<div class="about">
                        	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, pro totam rem aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>
		  

	 
	
	

</div>	
<!-- TUTOR INFO -->
</div>




	

</div>



</div>
</div>

   <!-- Payment Form BLOCK  END-->


   
<!-- FOOTER BLOCK -->

<footer>
<div class="footer-nav">
<div class="container">
<nav class="navbar footer-navi navbar-left">
    <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
    </ul>
</nav>


<div class="social-icons pull-right">
     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	 <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	 <a href="#"><i class="fa fa-instagram fa-3x social"></i></a> 
	 <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
     <a href="#"><i class="fa fa-rss-square fa-3x social"></i></a>	 
	 <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	 

</div>
</div>
</div>


<div class="copyright">
<div class="container">

<div class="pull-left right-rev">
<p>All rights Reserved © 2017 Learning</p>
</div>
<div class="pull-right design-deve">
<p>Designed & Developed by <a href="startupbug.net">Startupbug.net</a></p>
</div>
</div>

</div>

</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>