<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumping Notes</title>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,900,900i">
    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body class="transaction">

  <!-- NAVIGATION START -->
  
<nav class=" main-nav navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   	 <a class="navbar-brand logo" href="index.html"><img src="images/j_logo.png" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav nav-right navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
      </ul>
   
    </div>
  </div>
</nav>

	<!-- NAVIGATION END  -->
	
	
		<!-- / Transaction Text  -->
	
<div class="container-fluid text-center trans-text">
  <h3>TRANSACTION</h3>
</div>



	<!-- / PAYMENT FORM BLOCK -->

<div class="payment-form">
<div class="container">

<div class="pay-text">
<h2>Payment Method:</h2>
<p>Please tell us how you would like to pay:</p>
<form class="pay-form">
 <div class="form-group pays">
            <div class="col-xs-4">
                <label class="radio-inline">
      <input type="radio" name="genderRadios" value="male">  I will pay now with Paypal
                </label>
				 <div class="col-xs-2 pull-right img-pay">
				<img src="images/paypal-img.png" alt=""/>
				</div>
            </div>
		</div>
		
		
		
		<div class="acc-head">
		<h3>Account Information</h3>
		
</div>

<div class="form-pay">
			 <div class="sel-box country col-md-6">
                <select class="form-control">
                    <option>COUNTRY</option>
					<option>COUNTRY</option>
					<option>COUNTRY</option>
                </select>
            </div>
			
		
		  <div class="form-group card-nos col-md-6">
         <input type="text" class="form-control" id="card-no" placeholder="CARD NUMBER">
        </div>
		
		  <div class="form-group user-name col-md-6">
         <input type="text" class="form-control" id="username" placeholder="USERNAME">
        </div>
		
		  <div class="form-group expiry col-md-6">
         <input type="text" class="form-control" id="ex-date" placeholder="EXPIRY DATE">  
          <span class="glyphicon glyphicon-calendar"></span>
                   
        </div>


		<div class="form-group user-name col-md-6">
         <input type="text" class="form-control" id="username" placeholder="ACCOUNT ID">
        </div>
		
		  <div class="form-group expiry col-md-6">
         <input type="text" class="form-control" id="ex-date" placeholder="PIN">  
		 </div>
		 
		 <div class="form-group emails col-md-12">
        <input type="email" class="form-control" id="inputEmail" placeholder="EMAIL">
    </div>

	 <div class="form-group">
            <div class="col-xs-offset-0 col-xs-8">
			<a href="#" class="btn btn-primary edits">EDIT</span></a>
		<a href="#" class="btn btn-primary sends">SEND <span class="glyphicon glyphicon-send"></span></a>

            </div>
        </div>
	
	
</form>
</div>	
<!-- TUTOR INFO -->
</div>




<div class="pay-text">
<form class="pay-form">
	
		<div class="tutor-head">
		<h3>Tutor Information:</h3>
		
</div>

<div class="form-pay">
<div class="row">
		  <div class="form-group card-nos col-md-6">
         <input type="text" class="form-control" id="card-no" placeholder="TUTOR NAME">
        </div>
		
		 <div class="sel-box country col-md-6">
                <select class="form-control">
                    <option>AMOUNT</option>
					<option>AMOUNT</option>
					<option>AMOUNT</option>
                </select>
            </div>
		</div>

<div class="row">		
				 <div class="sel-box country col-md-6">
                <select class="form-control">
                    <option>NO OF HRS.</option>
					<option>NO OF HRS.</option>
					<option>NO OF HRS.</option>
                </select>
            </div>
	
		
 		  <div class="expiry col-md-6">
         <input type="text" class="form-control" id="ex-date" placeholder="PAYMENT SCHEDULE">  
          <span class="glyphicon glyphicon-calendar"></span>      
        </div>  
  </div>
	
<div class="row">	
	 <div class="per-sec-btn">
            <div class="col-xs-offset-0 col-xs-8">
			<a href="#" class="btn btn-primary perform-btn">Perform Transaction</span></a>

            </div>
        </div>
	
 </div>	
</form>
</div>	
<!-- TUTOR INFO -->
</div>



</div>
</div>

   <!-- Payment Form BLOCK  END-->


   
<!-- FOOTER BLOCK -->

<footer>
<div class="footer-nav">
<div class="container">
<nav class="navbar footer-navi navbar-left">
    <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Profile</a></li>
		<li><a href="#">Transaction</a></li>
		<li><a href="#">Notes</a></li>
        <li><a href="#">Login / Sign Up</a></li>
    </ul>
</nav>


<div class="social-icons pull-right">
     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	 <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	 <a href="#"><i class="fa fa-instagram fa-3x social"></i></a> 
	 <a href="#"><i class="fa fa-linkedin-square fa-3x social"></i></a>
     <a href="#"><i class="fa fa-rss-square fa-3x social"></i></a>	 
	 <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	 

</div>
</div>
</div>


<div class="copyright">
<div class="container">

<div class="pull-left right-rev">
<p>All rights Reserved © 2017 Learning</p>
</div>
<div class="pull-right design-deve">
<p>Designed & Developed by <a href="startupbug.net">Startupbug.net</a></p>
</div>
</div>

</div>

</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>